name: Check

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-24.04

        strategy:
            matrix:
                node-version: [20.x]

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - run: npm ci
            - run: sudo apt-get install --yes colordiff
            - run: npm run check
